<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MedData Patient Search</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="spacelab/css/bootstrap.css">
  <link rel="stylesheet" href="spacelab/css/bootstrap-theme.css">
  <link rel="stylesheet" href="app.css"/>
  <link rel="stylesheet" href="bower_components/select2/select2.css">
  <link rel="stylesheet" href="select2-bootstrap.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div style="float: right; padding: 1em;">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">About</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">About DataMed</h4>
          </div>
          <div class="modal-body">
            <p>
            DataMed is a proof-of-concept project that improves upon simple keyword search for medical documents.
            To search, simply start typing a medical concept of interest into the search box.
            </p>
            <p>
            In order to achieve our results, we normalized case presentation data found in published case studies from the <a href="http://www.jmedicalcasereports.com">Journal of Medical Case Reports</a>. This allows a user searching for "heart attack", "myocardial infarction", and "MI" to all get the same results.
            In addition, we have clustered the document concepts by category and offered these as further concepts to enhance your search.
            </p>
            <p>
            DataMed was produced as a part of Prebacked's <a href="http://www.prebacked.com/medhack/san-francisco-summer-2014">MedHack SF Summer 2014</a>.
            </p>
            <h4>Team</h4>
            <a href="http://lexigram.io">Paul Alexander</a><br>
            <a href="https://www.linkedin.com/pub/prag-batra/4a/9a2/431">Prag Batra</a><br>
            <a href="https://www.linkedin.com/in/nickylim888/">Nicole Lim</a><br>
            <a href="http://lexigram.io">Manuel Salvadores</a><br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" ng-controller="ResultsController as results">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1><img src="DataMed.png" width=400></h1>
      </div>
      <div class="col-lg-6 col-lg-offset-3">
        <form role="form" ng-submit="results.search()" id="searchForm">
          <div class="form-group">
            <input type="text" class="form-control" id="searchQuery" placeholder="Search case studies using medical concepts">
            <div class="text-center">
              <!--
              <input type="radio" name="search_type" id="advanced" value="advanced" checked="true"> <label for="advanced">Advanced</label>
              <input type="radio" name="search_type" id="keyword" value="keyword"> <label for="keyword">Keyword</label>
              -->
              <div class="label label-info">Hint: try 'double vision' or 'heart attack'</div>
              <div>
                <input type="submit" style="margin-top: 5px;" id="searchButton" value="Search">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" ng-show="results.results">
      <div class="col-lg-8 col-lg-offset-1">
        <div id="results">
          <div ng-repeat="result in results.results">
            <search-results></search-results>
          </div>
        </div>
      </div>
      <div class="col-lg-2" ng-show="results.related">
        <div class="panel panel-primary">
          <div class="panel-heading">Related</div>
          <div class="panel-body">
            <div ng-repeat="(category, concepts) in results.related">
              <span style="text-transform: capitalize;"><h4 class="label label-primary">{{category}}</h4></span>
              <ul style="padding: 0.3em 0 0.5em 0.8em; list-style-type: none; line-height: normal;">
                <li ng-repeat="concept in concepts" style="font-size: smaller; padding-bottom: 5px;">
                  <a href="" ng-click="results.addConcept(concept.cui, concept.label)">{{concept.label}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/select2/select2.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="views/results/results.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <script>
    $("#searchQuery").select2({
      minimumInputLength: 2,
      multiple: true,
      ajax: {
        url: "https://co1f4s43:8f76usbx40mwcy87@azalea-4609986.us-east-1.bonsai.io:443/medhack/_suggest",
        dataType: 'json',
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        data: function (term, page) {
          return JSON.stringify({
            "label-suggest": {
              text: term,
              completion: {
                field: "label"
              }
            }
          });
        },
        results: function (data, page) {
          var results = data["label-suggest"][0]["options"];
          results = results.map(function(hit){return {id: hit.payload.cui, text: hit.text}});
          return { results: results };
        }
      }
    });

    $(document).on("change", function(){
      $("#searchButton").click();
    });

  </script>
</body>
</html>
